@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-primary: #005f77;
  --clr-secondary: #00181e;
  --clr-third: #35c6eb;
  --pblock-: 2rem;
  --pblock-4-: 4rem;
  --transition: 0.6s;
  --pt-b-1: 1rem;
  --pt-b-2: 2rem;
  --pt-b-3: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;

  @media (width > 768px) {
    max-width: 720px;
  }
  @media (width > 992px) {
    max-width: 960px;
  }
  @media (width > 1200px) {
    max-width: 1140px;
  }
  @media (width > 1400px) {
    max-width: 1320px;
  }
}

.btn {
  padding-inline: 2rem;
  padding-block: 0.6rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.6em;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;
  &:hover,
  &:focus-visible {
    background-color: var(--clr-secondary);
    transition: var(--transition);
  }
}
.border-bottom {
  height: 2px;
  width: 60px;
  border: 2px solid var(--clr-primary);
}
.pt-1 {
  padding-top: var(--pt-b-1);
}
.pt-2 {
  padding-top: var(--pt-b-2);
}
.pt-3 {
  padding-top: var(--pt-b-3);
}

.pb-1 {
  padding-bottom: var(--pt-b-1);
}
.pb-2 {
  padding-bottom: var(--pt-b-2);
}
.pb-3 {
  padding-bottom: var(--pt-b-3);
}

.text-center {
  text-align: center;
}

.main-navigation {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--clr-primary);
  box-shadow: 0 5px 10px #83838330;
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .brand {
    width: 100%;
    color: var(--clr-primary);
    .bran-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      font-size: 2rem;
      font-weight: 500;
      border-radius: 50%;
      background-color: var(--clr-primary);
      color: #fff;
    }
  }
  .main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;
    @media (width > 992px) {
      gap: 4rem;
      margin-left: 10rem;
    }
    .nav-link {
      font-size: 1rem;
      font-weight: 500;
      color: var(--clr-primary);
      &:hover,
      &:focus-visible {
        outline: none;
        text-decoration: underline;
        color: var(--clr-secondary);
        transition: var(--transition);
      }
    }
  }
}

.banner {
  background: rgb(233, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(240, 240, 240, 1) 53%,
    rgba(241, 244, 253, 1) 100%
  );
  .banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: var(--pblock-4-);
    .banner-logo {
      margin: 0 auto;
      width: 300px;
      border-radius: 50%;
    }
    .bannercontainer-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      .typewrite {
        border-bottom: 1px solid var(--clr-primary);
      }
      button {
        width: 50%;
      }
    }
  }
  .bannercontainer-info {
    .banner-header {
      font-size: 2rem;
    }
  }
  .socialmedia-container {
    .socialmedia-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1rem;
      .socialmedia-links {
        font-size: 2rem;
        i {
          color: var(--clr-secondary);
          &:hover,
          &:focus-visible {
            color: var(--clr-primary);
            transition: var(--transition);
          }
        }
      }
    }
  }
}
.skills-header,
.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2rem;
  }
}

.about-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  img {
    width: 300px;
    margin: 0 auto;
  }
  .about-details {
    padding-block: var(--pblock-);
  }
}
.about-details-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  .details-card-header {
    font-weight: bold;
  }
  .details-card {
    i {
      color: var(--clr-primary);
      padding-right: .6rem;
    }
  }
}
.skills-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .progress {
    width: 90%;
    p {
      color: var(--clr-secondary);
    }
    .progress-bar {
      height: 5px;
      width: 100%;
      background-color: #969696;
      .progress-bar-procent {
        height: 5px;
        background-color: var(--clr-primary);
      }
    }
  }
}

@media (max-width: 767px) {
  .banner {
    .banner-container {
      grid-template-columns: repeat(1, 1fr);
      .banner-logo {
        width: 200px;
      }
      .bannercontainer-info {
        align-items: center !important;
        text-align: center;
        button {
          width: 80%;
        }
      }
    }
    .banner-header {
      text-align: center;
      font-size: 1rem !important;
    }
  }
  .socialmedia-container {
    .socialmedia-icons {
      justify-content: center;
    }
  }
  .about-info {
    grid-template-columns: 1fr; 
  }
  .about-details-info {
    grid-template-columns: 1fr; 
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .banner {
    .banner-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .socialmedia-container {
    .socialmedia-icons {
      justify-content: center;
    }
  }
  .bannercontainer-info {
    align-items: center !important;
    text-align: center;
    button {
      width: 50%;
    }
  }
  .about-info {
    grid-template-columns: 1fr; 
  }
  .about-details-info {
    grid-template-columns: 1fr; 
  }
}
